* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Rubik', sans-serif;

}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #ece5dd;
}
.top_back {
  width: 100%;
  height: 100px;
  background-color: #128c7e;
}
